@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* CSS HEX */
--russian-violet: #462255ff;
--delft-blue: #313b72ff;
--emerald: #00c46bff;
--cal-poly-green: #0b4e2dff;
--skobeloff: #1d7874ff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--emerald);
  background-image: url("img/bg.png");
  background-repeat: repeat;
  background-size: 1920px 1080px;
  text-align: center;
  color: white;
}

nav{
  background-color: var(--cal-poly-green);
  font-size:20px;
  padding:6px;
  margin: 0;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  position: relative;
  color: white;
  margin-left: 15px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 56px;
  text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
  text-align: center;
	font-weight: 10;
}

h4{
  text-align: center;
}

iframe{
  display: block;
  margin: 25px auto;
  border: 5px solid white;
  border-radius: 15px;
  background-color: white;
  aspect-ratio: 16 / 9;
}

.play {
  display: inline-block;
  margin: 0 10px 50px 10px;
  padding: 10px;
  max-width: 175px;
  background-color: #107743;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.play a {
  text-decoration: none;
}

.play a:hover {
  text-decoration: underline;
}

hr{
  max-width: 750px;
  border-style: solid;
}

.article img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.article, #credit-txt{
  max-width: 750px;
  margin: 0 auto;
}

#articles, #credits{
  max-width: 850px;
  background-color: #11874b;
  margin: 0 auto;
  padding-bottom: 5px;
}

.date{
  text-align: left;
}

/* Mobile devices */
@media screen and (max-width: 720px) {
iframe{
  width: 100%;
  height: auto;
}
}

@media screen and (max-width: 850px) {
  h1{
    margin: 0;
  }
  }
